/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-family: sans-serif;
}

/* ---------------------------------------------------- */


.kalendar{
	display: grid;
	grid-template-columns: repeat(7, 50px);
	grid-template-rows: repeat(6, 50px);
	gap: 2px;
	
}

.zahlavi{
	background-color: orange;
	color: white;
}

.kalendar li{
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	border-color: gray;
	border-style: solid;
	border-width: 1px;

}

.predchozi, .nasledujici{
	background-color: lightgray;
	color: gray;
}