/* moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
}


.blok {
  padding: 20px;
}

.levy { background-color:#f1c40f ;}
.horni { background-color: #2ecc71;}
.dolni { background-color: #e74c3c;}

/* ---------------------------------------------------- */
/* ZDE NAPIŠ VLASTNÍ CSS */

.kontejner{
  display: flex;
}

.levy{
  flex-basis: 50%;
}

.pravy{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.horni{
  flex-basis: 50%;
}

.dolni{
  flex-basis: 50%;
}