body{
    background-color: beige;
}

h1, h2, p{
    font-family: sans-serif;
}

h1{
    text-align: center;
    color: red;
    text-decoration: underline;
    text-transform: uppercase;
}

.blue{
    color: blue;
}

.size{
    font-size: 25px;
}

.box{
    border: 3px solid red;
    padding: 20px;
    height: auto;
    width: 400px;
}

/*
content box = NONONONONONO :((((((
border box = Approved B) 
*/

.border-box{
    box-sizing: border-box;
}