section{
    width: 80%;
    height: 800px;
    /* nastavení obr. jako pozadí */
    /* background-image: url(https://2.bp.blogspot.com/-3stpFlycdhI/T9pjoCoxo9I/AAAAAAAAQBc/-xP-DZ-iCqE/s1600/prague_czech_republic.jpg);
    background-size: cover;
    background-position: bottom; */
    background: center/40% no-repeat url(https://2.bp.blogspot.com/-3stpFlycdhI/T9pjoCoxo9I/AAAAAAAAQBc/-xP-DZ-iCqE/s1600/prague_czech_republic.jpg) blueviolet;
    margin: 0 auto;
}

h1{
    font-size: 100px;
}

section h1{
    color: white;
}