section{
    width: 500px;
    height: 500px;
    background-color: magenta;
}

#rgba{
    width: 50%;
    height: 50%;
    background-color: #ffffff7a; /* nastavujeme level průhlednosti + barvu konkrétní vlastnosti elementu */
}

#opacity{
    width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.5; /* upraví průhlednost celého elementu */
}